{
  "report-dir": "../../coverage/apps/mlw-ui-ng-cucumber-e2e",
  "temp-dir": "../../coverage/temp/mlw-ui-ng-cucumber-e2e/.nyc_output",
  "reporter": ["lcov", "text", "text-summary"],
  "instrument": false,
  "sourceMap": false
}
